<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.oneweek.mapper.CouponMapper">

   <select id="getCouponInfoByName" resultType="com.example.oneweek.model.DTO.ReqCouponDTO">
        SELECT * FROM ONEWEEK_COUPON
        WHERE coupon_nm = #{coupon_nm}
    </select>

</mapper>